<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css">
<script>
	var ua = navigator.userAgent.toLowerCase();
	var theme = ua.indexOf('android') > -1 ? 'android' : 'ios';
	alert(theme);
	document.write('<li'+'nk rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet-theme-'+theme+'.min.css">');
</script>
<link rel="stylesheet" href="/static/settings.css">

<body id="events">
	<header class="bar bar-nav">
		<a class="icon icon-close pull-left" v-on="click: cancel"></a>
		<a class="icon icon-check pull-right" v-on="click: save"></a>
		<h1 class="title">Classy Clock</h1>
	</header>

	<nav class="bar bar-standard bar-header-secondary">
		<div class="segmented-control">
			<a class="control-item" v-repeat="days" v-class="active: this.id == currentDay.id" v-on="click: openDay(this)">
				{{shortName}}
			</a>
		</div>
	</nav>

	<div class="content">

		<ul class="table-view sched-list content-padded" v-repeat="schedule" v-class="hidden: this.day != currentDay.name">
			<li v-repeat="schedule">
				<form class="input-group">
					<div class="input-row">
						<label for="subject-{{$index}}">Subject</label>
						<input id="subject-{{$index}}" type="text" maxlength="32" required v-model="subj">
					</div>
					<div class="input-row">
						<label for="start-{{$index}}">Start</label>
						<input id="start-{{$index}}" type="time" step="60" required v-model="start">
					</div>
					<div class="input-row">
						<label for="end-{{$index}}">End</label>
						<input id="end-{{$index}}" type="time" step="60" required v-model="end">
					</div>
				</form>
				<div class="actionbar">
					<a class="btn btn-block btn-schedule-action btn-negative" v-on="click: remove" data-id="{{$index}}"><span class="icon icon-trash"></span></a>
					<a class="btn btn-block btn-schedule-action" v-on="click: moveUp" data-id="{{$index}}"><span class="icon icon-up"></span></a>
					<a class="btn btn-block btn-schedule-action" v-on="click: moveDown" data-id="{{$index}}"><span class="icon icon-down"></span></a>
				</div>
			</li>
		</ul>

		<div class="bar bar-standard bar-footer">
			<a class="icon icon-gear pull-right" v-on="click: showJSON" v-class="hidden: isJSONVisible == true"></a>
			<a class="icon icon-plus pull-left" v-on="click: add"></a>
		</div>

		<div class="modal" v-class="active: isJSONVisible == true">
			<header class="bar bar-nav">
				<a class="icon icon-close pull-left" v-on="click:hideJSON"></a>
				<h1 class="title">Settings</h1>
			</header>
			<div class="content">
				<form class="control-group content-padded" action="/import/myclassschedule" method="POST" enctype="multipart/form-data">
					<textarea rows="5" v-model="json"></textarea>
					<a class="btn" v-on="click: backup">Backup</a>
					<a class="btn" v-on="click: restore">Restore</a>
					<p class="little-help">
						To backup: tap Backup, copy the text, paste it somewhere (in your favorite notes app).<br>
						To restore: copy the text of your backup, paste it above, tap Restore.
					</p>
					<h3>Import from My Class Schedule</h3>
					<p class="little-help">
						Make sure you have Firefox and a file manager such as Cabinet or Sliding Explorer installed on your device.<br>
						Go to My Class Schedule &rarr; Settings &rarr; Backup / Restore &rarr; Create new backup.<br>
						Open this settings page in Firefox (because the file picker doesn't work - it's an Android bug): <a href="https://classyclock.herokuapp.com/">https://classyclock.herokuapp.com</a><br>
						Tap the file chooser here, select your file manager, go to your SD Card &rarr; My Class Schedule and choose the latest backup file.
						Tap Import. Then, make a backup, reopen this settings page in the Pebble app, paste and restore.
					</p>
					<input type="file" name="database">
					<button type="submit" class="button">Import</button>
				</form>
			</div>
		</div>

	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.8.3/vue.min.js"></script>
	<script src="/static/settings.js"></script>
</body>
