textarea { resize: vertical; }
.content { padding-top: 1em; }
.little-help { font-size: smaller; color: #999; margin: 1em 0; }
.content > a.button-block { margin: 10px; }
.hidden { display: none; }
.sched-list { margin-top: 20px; margin-bottom: 70px; }
.sched-list li {
	overflow: hidden;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: flex;
}
.sched-list li form {
	-webkit-flex: 1;
	        flex: 1;
}
.actionbar {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin-left: 10px;
}
.actionbar a.button-block {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin-top: 6px;
	margin-bottom: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
	top: 0;
	right: 0;
}

.btn-schedule-action {
	margin: 0;
	padding: 8px 15px;
}
.input-row { height: 40px; }
#ru-spinner { position: relative; padding-top: 3em; }
